<?php
return array(
    'host' => 'my-vcd-host',
    'apiVersion' => '5.5',
    'users' => array(
        'administrator' => array(
            'organization' => 'system',
            'username' => 'administrator',
            'password' => '********'
        ),
    ),
    'unknownOrganization' => 'a7baacbe-8a59-4286-b8c9-694153bf9e76'
);
